<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Từ vựng</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="addWord()">
    <ion-item>
      <ion-label>Từ vựng</ion-label>
      <ion-input #inputKeyword type="text" [(ngModel)]="word.keyword" name="keyword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Chú thích</ion-label>
      <ion-textarea rows="6" [(ngModel)]="word.description" name="description"></ion-textarea>
    </ion-item>
    <div text-center>
      <button ion-button type="submit" *ngIf="!selectedWord"><ion-icon name="add-circle"></ion-icon> Thêm mới</button>
      <button ion-button type="submit" *ngIf="selectedWord"><ion-icon name="checkmark-circle"></ion-icon> Cập nhật</button>
    </div>
  </form>

</ion-content>
