<ion-menu [content]="content" type="overlay">

  <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon *ngIf="p.id==1" name="add"></ion-icon>
        <ion-icon *ngIf="p.id==2" name="list"></ion-icon>
        <ion-icon *ngIf="p.id==3" name="logo-yen"></ion-icon> {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
