// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon {
    font-size: 0.8em;
}

a, ion-icon {
    cursor: pointer;
}
ion-icon[name="trash"]{
    color: red;
}
ion-icon[name="settings"]{
    font-size: 2em;
}
button ion-icon{
    font-size: 1.2em;
}
ion-icon span{
    font-size:1.5rem;
}