<!--
  Generated template for the ManageMoneyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Quản lý chi tiêu</ion-title>

    <ion-buttons end>
      <ion-item>
        <ion-label><ion-icon name="calendar"></ion-icon></ion-label>
        <ion-datetime displayFormat="MM/YYYY" [(ngModel)]="crMonth" (ngModelChange)="changedSearchDate($event)"></ion-datetime>
      </ion-item>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [ngStyle]="{'background-color':'cornsilk'}">
      <ion-label>
        <div>Tổng:</div>
      </ion-label>

      <ion-icon item-end>
          <!--typespending: 0 // 0: chi; 1: nhận-->
        <p text-right>Thu: {{totalIn}}</p>
        <p text-right>Chi: {{totalOut}}</p>
        <p text-right [ngStyle]="diffInOut < 0 && {'color':'red'}">Dư: {{diffInOut}}</p>
      </ion-icon>
      <!-- Tổng chi: {{totalOut}} Tổng thu: {{totalIn}} Số dư: {{diffInOut}} -->
    </ion-item>
    <!--https://ionicframework.com/docs/api/list-->
    <ion-item  *ngFor="let it of items">
      <ion-label  (dblclick)="editItem($event, it)">
        <div>
          {{it.item.description}}
        </div>
        <p>{{it.item.payDate}}</p>
      </ion-label>

      <ion-icon item-end>
        <!--typespending: 0 // 0: chi; 1: nhận-->
        <span *ngIf="it.item.typespending == 1" [ngStyle]="{'color':'blue'}">+{{it.item.money}}</span>
        <span *ngIf="it.item.typespending == 0" [ngStyle]="{'color':'red'}">-{{it.item.money}}</span>
        <ion-icon name="trash" (click)="deleteItem($event, it)"></ion-icon>
      </ion-icon>
    </ion-item>
    </ion-list>
</ion-content>
