<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Danh sách từ vựng</ion-title>

    <ion-buttons end>
      <button ion-button (click)="openSetting($event)">
          <ion-icon name="settings"></ion-icon>
      </button>
      <!--
      <button ion-button>
        <ion-icon name="more"></ion-icon>
      </button>
      -->
    </ion-buttons>

  </ion-navbar>
  
</ion-header>

<ion-content>
  <ion-list *ngIf="items.length > 0">
    <!--https://ionicframework.com/docs/api/list-->
    <ion-item  *ngFor="let item of items"  [ngStyle]="item.word.hideFromList&&{'background-color':'darkgray'}">
      <ion-label  (dblclick)="editWord($event, item)">
        <div>{{item.word.keyword}}</div>
        <p>{{item.word.description}}</p>
      </ion-label>

      <ion-icon item-end>
          <ion-icon *ngIf="item.word.hideFromList" name="eye" (click)="hideFromList($event, item)"></ion-icon>
          <ion-icon *ngIf="!item.word.hideFromList" name="eye-off" (click)="hideFromList($event, item)"></ion-icon>
          <ion-icon name="trash" (click)="deleteWord($event, item)"></ion-icon>
      </ion-icon>
    </ion-item>
  </ion-list>

  <div padding *ngIf="items.length==0">
    <div>Please go to <a (click)="gotoWordPage($event)">Word</a> page to add your words!</div>
    <div text-center><button ion-button type="submit" (click)="reloadList($event)"><ion-icon name="refresh"></ion-icon> Reload</button></div>
  </div>

</ion-content>
