<!--
  Generated template for the AddEditMoneyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chi/tiêu</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content>
  <form (ngSubmit)="addItem($event)">
    <ion-item>
      <ion-label><ion-icon name="calendar"></ion-icon></ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="item.payDate" name='payDate' required></ion-datetime>
    </ion-item>
    

    <ion-list radio-group [(ngModel)]="item.typespending" name='typespending'>
      <ion-item>
        <ion-label>Chi</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Nhận</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label>Số tiền</ion-label>
      <ion-input #inputKeyword type="number" [(ngModel)]="item.money" name='money' required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Chú thích</ion-label>
      <ion-textarea rows="6" [(ngModel)]="item.description" name='description' required></ion-textarea>
    </ion-item>

    <div text-center>
      <button ion-button type="submit" *ngIf="!selectedItem"><ion-icon name="add-circle"></ion-icon> Thêm mới</button>
      <button ion-button type="submit" *ngIf="selectedItem"><ion-icon name="checkmark-circle"></ion-icon> Cập nhật</button>
    </div>
  </form>
</ion-content>
